/* QStatusBar == DebugStatusLabel, LogStatusLabel, TimeWastedCounter */
QStatusBar QLabel {
    background-color: #c0c0c0;
}

QStatusBar QFrame {
    qproperty-frameShape: Panel;
    qproperty-frameShadow: Sunken;
}

QStatusBar::item {
    border: none;
}

QStatusBar {
    background-color: #c0c0c0;
}

DebugStatusLabel[state="initialized"] {
    color: #00dd00;
    background-color: #c0c0c0;
}

DebugStatusLabel[state="paused"] {
    color: #ff0000;
    background-color: #ffff00;
}

DebugStatusLabel[state="running"] {
    color: #000000;
    background-color: #c0c0c0;
}

DebugStatusLabel[state="stopped"] {
    color: #ff0000;
    background-color: #c0c0c0;
}

QPushButton#AbstractTableViewHeader {
    background-color: rgb(192, 192, 192);
    border-style: outset;
    border-width: 2px;
    border-color: rgb(128, 128, 128);
}

QPushButton#AbstractTableViewHeader QPushButton:pressed {
    background-color: rgb(192, 192, 192);
    border-style: inset;
}

ShortcutEdit {
    color: #222222;
}

ShortcutEdit[error="true"] {
    color: #dd0000;
}

QTabWidget::pane {
    border: 0px;
}

QTabBar::tear { 
    width: 0px;
    border: none;
}

/* Attempt at fixing an ugly bug: https://stackoverflow.com/a/55097717/1806760 */
QTabBar QToolButton {
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    border-radius: 2px;
    background: #f0f0f0;
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

QTabBar QToolButton::hover {
    background: #f0f0f0;
    border: 1px solid black;
}

QTabBar::scroller {
    width: 15px;
}