# Ignored directories
bin/x32/db/
obj/
ipch/
Win32/
x64/
release/
build/
gui_build/
debug/
*XE Results*/
doxygen*/
doc/
COV/
minidump/

# Global filetypes to ignore
*.depend
*.layout
*.patch
*.cscope_file_list
*.bmarks
*.chw
*.cbTemp
*.ini
*.opensdf
*.sdf
*.suo
*.autosave
*.~vsd
*.exe
*.pro.user.*
*.orig
cov-int*
*.pdb
ui_*
*.aps
*.pro.user
.DS_Store
*.ipgset
*.ilk
*.exp

# Project to ignore
help/x64*dbg.chm
help/output/
bin/x64*dbg.chm
bin/win32.*

# Debugger files to ignore
CppCheckResults.xml
src/dbg/ODbgScript.chm
src/dbg/ODbgScript.chw

# GUI files
src/gui/build
src/gui/Makefile*
tools/
RCa*
RDa*
RDb*
src/build-*/

# Exceptions
!/hooks/AStyleWhore.exe
!/hooks/AStyle.dll
!/bin/x64dbg_shell_remove.reg
!*.lib
pin.log
/bin/x32/Qt5Cored.dll
/bin/x32/Qt5Guid.dll
/bin/x32/Qt5Networkd.dll
/bin/x32/Qt5Widgetsd.dll
/bin/x32/capstone.dll
/bin/x32/snowman.dll
/bin/x32/x32bridge.dll
/bin/x32/x32bridge.lib
/bin/x32/x32dbg.dll
/bin/x32/x32dbg.lib
/bin/x32/x32gui.dll
/bin/x32/x32gui.lib
/usrenv.bat
