[submodule "src/dbg/btparser"]
	path = src/dbg/btparser
	url = ../../x64dbg/btparser
[submodule "deps"]
	path = deps
	url = ../../x64dbg/deps
	shallow = true
[submodule "src/third_party/qtwebdriver"]
	path = src/third_party/qtwebdriver
	url = ../../x64dbg/qtwebdriver
