# Output folders
/bin/*/
/bin/*.exe
/bin/*.dll
/bin/*.ini
/bin/*.chm
/src/**/x64/
/src/**/Win32/
/src/gui_build/
/release/

# Folders
.vs/
.vscode/
.idea/
build*/
cmake-build*/

# Extensions/files
*.sdf
*.suo
*.VC.db
*.vcxproj.user
*.aps
*.pro.user*
*.orig
*.pdb
.DS_Store
Makefile
Makefile.*
CMakeLists.txt.user
