<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AStyleHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
        <AStyleHelper.Properties.Settings>
            <setting name="Pattern" serializeAs="String">
                <value>*.c;*.h;*.cpp;*.hpp</value>
            </setting>
            <setting name="Options" serializeAs="String">
                <value>style=allman, convert-tabs, align-pointer=type, align-reference=middle, indent=spaces, indent-namespaces, indent-col1-comments, pad-oper, unpad-paren, keep-one-line-blocks, close-templates</value>
            </setting>
            <setting name="Ignore" serializeAs="String">
                <value>src/cross/vendor</value>
            </setting>
            <setting name="License" serializeAs="String">
                <value />
            </setting>
        </AStyleHelper.Properties.Settings>
    </applicationSettings>
</configuration>
